@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
}

.consultant::before{
content: "Co nsultant";
/* position: relative; */
/* top: 0px; */
bottom: 198px;
left: -397px;
 
 /* right: 10px; */
 /* left: 0px !important; */
rotate: 270deg;
font-size: 168px;
-webkit-text-stroke: 2px #707070;
color: transparent;
font-weight: 600;
letter-spacing: 10px;
}

li a :active{
  color: #0088CE;

}
nav li a{
  position: relative;
}
nav li a:hover{
  color: #0088CE;
  transition: transform 0.8s ease-out;
}
nav li a:hover::before{
  transition: all 5s;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px !important;
  height: 8px !important;
  rotate: 312deg;
  border-radius: 20%;
  background-color: #0088CE;
  transition: transform 0.25s ease-out;
}

.about_before::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #0088CE; 
  margin-right: 10px;
  margin-bottom: 5px;
}


.btn_hover::before{
  content: url("/src/assets/button_Animation.webp");
 left: -7px;
 top: -8px;
  width: 35px;
  height: 35px;
  position: absolute;
  transition: all 1.5s;
  transform: translateX(-100%);
}
.btn_hover:hover::before{
  left: 80%;
  right: 0 !important;
  transform: translateX(0);
}

