@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth !important;
}
body{
    font-family: Poppins;
    /* scroll-behavior: smooth !important; */
}

.consultant::before{
content: "Co nsultant";
/* position: relative; */
/* top: 0px; */
bottom: 198px;
left: -397px;
 
 /* right: 10px; */
 /* left: 0px !important; */
rotate: 270deg;
font-size: 168px;
-webkit-text-stroke: 2px #707070;
color: transparent;
font-weight: 600;
letter-spacing: 10px;
}

li a :active{
  color: #0088CE;

}
nav li a{
  position: relative;
}
nav li a:hover{
  color: #0088CE;
  transition: transform 0.8s ease-out;
}
nav li a:hover::before{
  transition: all 5s;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px !important;
  height: 8px !important;
  rotate: 312deg;
  border-radius: 20%;
  background-color: #0088CE;
  transition: transform 0.25s ease-out;
}

.about_before::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #0088CE; 
  margin-right: 10px;
  margin-bottom: 5px;
}


.btn_hover::before{
  content: url("/src/assets/button_Animation.webp");
 left: -7px;
 top: -8px;
  width: 35px;
  height: 35px;
  position: absolute;
  transition: all 0.5s;
  transform: translateX(-100%);
}
.btn_hover:hover::before{
  left: 80%;
  right: 0 !important;
  transform: translateX(0);
}

a{
  cursor: pointer !important;
}
footer a:hover{
color: #0088CE;
}

/* loader */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side,#0000 40%,#6121d1 41%);
  background: linear-gradient(0deg ,rgba(97,33,209,0.5) 50%,rgba(97,33,209,1) 0) center/4.5px 100%,
        linear-gradient(90deg,rgba(97,33,209,0.25) 50%,rgba(97,33,209,0.75) 0) center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}


/* NAV BAR */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
} */


  /* .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #222;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
      color: #fff;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }




  /* THREE DASH MENU */
.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.hamburger {
  /* display: block; */
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.animation_slider{
  transition:all 0.8s;
}
.nav_animation{
  left: -135% !important;
}


/* SERVICES PAGE CARD COLOR EFFECCT */
.card_before_color{
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.card_before_color::before{
  content: "";
  display: inline-block;
  width: 170px;
  height: 170px;
  background-color: #0088CE;
  position: absolute;
  top: -30px;
  border-radius: 50%;
z-index: 1;
transition: all 0.6s;
}
.card_before_color:hover::before{
transform: scale(6);
}
.card_before_color h3 p{
  transition: all 0.2;
}
.card_before_color:hover h3 {
  color: white !important;
}
.card_before_color:hover p {
  color: white !important;
}


input:focus,textarea:focus{
  outline: none;
}
/* input:active{
  outline: none;
} */